<p style="color: green"><%= notice %></p>

<h1>University and Courses</h1>
<%= link_to "New educator", new_educator_path %>

<%= form_for "", url: educators_path, role: "search", method: :get do %>
  <%= text_field_tag :searchresult, @search_word,placeholder: "Search..." %>
<% end %>

<div id="educators">
  <% @educators.each do |educator| %>
    <%= render educator %>
    <p>
      <%= link_to "Show this educator", educator %>
    </p>
  <% end %>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">University</th>
      <th scope="col">Course Name</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>




<%= will_paginate @educators, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
